* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Outfit";
}
.card {
  width: 250px;
  height: 420px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
}
.card-img {
  width: 100%;
  margin: 15px;
}
.card-img img {
  border-radius: 10px;
}

.card-img:hover {
  background-image: url(./images/icon-view.svg);
  background-color: hsl(178, 100%, 50%);
  background-position: center;
  background-repeat: no-repeat;
  width: 220px;
  border-radius: inherit;
}
.card-img:hover img {
  opacity: 0.4;
}

.card-title {
  margin: 15px;
}
h4 {
  color: hsl(0, 0%, 100%);
  letter-spacing: 2px;
}
h4:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
p {
  margin: 10px 0 10px 0;
  font-size: 12px;
  color: hsl(215, 51%, 70%);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 10px;
}
li img {
  margin-right: 5px;
}
hr {
  height: 1px;
  background-color: hsl(215, 32%, 27%);
  border: none;
  margin-bottom: 15px;
}

.avatar img {
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
span {
  color: white;
  margin-left: 8px;
}
.name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
